
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div style="display: block; width: auto; height: auto; text-align: center;">
    <a class="mybutton" href="https://api.intra.42.fr/oauth/authorize?client_id=ecbf7755137ab08b68ac7f541eca8c9580228fb68c2a2473a5b1f30b9003a42f&redirect_uri=http%3A%2F%2F3.37.110.111%3A8080%2F42OAuth&response_type=code">Login</a>
</div>
</body>
</html>