<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div style="display: block; width: auto; height: auto; text-align: center;">
    <a class="mybutton" href="https://api.intra.42.fr/oauth/authorize?client_id=60a61213eaaed1e7b4a7ffc8c029f35c5ee4ccd28c0882363e1e3b9b195dd30a&redirect_uri=http%3A%2F%2Fleeworld9.ipdisk.co.kr%3A58080%2F42OAuth&response_type=code">Login</a>
</div>
</body>
</html>