<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div style="display: block; width: auto; height: auto; text-align: center;">
    <a class="mybutton" href="https://api.intra.42.fr/oauth/authorize?client_id=bac0e2c7574fd240738f0e0f708beef36b750b8e14b2448a5dc41cc2dc338077&redirect_uri=http%3A%2F%2Fleeworld9.ipdisk.co.kr%3A58080%2F42OAuth&response_type=code">Login</a>
</div>
</body>
</html>