<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>
    hello
  </title>
  <!--<base href="C:/Users/192293/Desktop/mtak42BOBs/src/main/resources/templates/">-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/mainn.css">
  <script type="text/javascript" th:inline="javascript">
    var myMSG = [[${rooms}]];
    var myID = [[${user_id}]];
  </script>
  <script type="text/javascript" th:inline="javascript" src="js/mainn.js"></script>
</head>
<body>
<header>
  <div class="navibar">
    <image src="https://s-um.github.io/bobs_test/42bobs_logo.png" style="margin: auto 30px;height:100%;display:table-cell;vertical-align:middle;"/>
    <span style="color:white; display:table-cell;vertical-align:middle;text-align:center;font-size:200%;" th:text="${user_id}">user_name</span>
    <a style="color:white; display:table-cell;vertical-align:middle;text-align:center;font-size:200%;" href="http://localhost:8080/logout">logout</a>
  </div>
</header>
<div class="widthAlign" style="padding:10vh 0 0 0;"><h2><span class="bold">내 밥 친구</span> 목록</h2></div>
<div class="horscroll" id="mymenu">
  <script>
    calljson();
  </script>
</div>
<div class="widthAlign"><h2><span class="bold">밥 친구</span> 찾아볼까요?</h2></div>
<div class="menuinput">
  <h3>몇시부터 가능한가</h3>
  <select name="meetTimeFrom" class="timeselector">
    <option value="00">0</option>
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12" selected="selected">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <span style="font-size:30px; vertical-align: middle;">:00</span>

  <h3>몇시까지 가능한가</h3>
  <select name="meetTimeTo" class="timeselector">
    <option value="00">0</option>
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12" selected="selected">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
  </select>
  <span style="font-size:30px; vertical-align: middle;">:00</span>

  <h3>메뉴</h3>
  <label><input type="radio" name="menu" value="1" onchange="menuSelect(this)" checked="checked"><span class="menuselector" id="korea" style="background-color: rgb(171,227,228)">한식</span></label>
  <label><input type="radio" name="menu" value="2" onchange="menuSelect(this)"><span class="menuselector" id="china">중식</span></label>
  <label><input type="radio" name="menu" value="3" onchange="menuSelect(this)"><span class="menuselector" id="us">양식</span></label>

  <h3>위치</h3>
  <label><input type="radio" name="location" value="1" onchange="locationSelect(this)" checked="checked"><span class="locationselector" id="gaepo" style="background-color: rgb(171,227,228)">개포</span></label>
  <label><input type="radio" name="location" value="2" onchange="locationSelect(this)"><span class="locationselector" id="seocho">서초</span></label>

  <input type="submit" onclick="getFormData();">

</div>
</body>
</html>