<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>42Bob's - 동료와 함께 밥을</title>
		<!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="_assets/favicon.ico" />
		<!-- Bootstrap icons-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="_assets/css/styles.css" rel="stylesheet" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<!-- End of Bootswatch-->
		<style>
body{
	color: rgb(21,178,179);
}
		.flex-row{
			overflow-x: auto;
		}

		.mymenubutton{
			width: 100%;
			height: 100%;
			border: 3px solid rgb(21,178,179);
			border-radius: 15px;
			background-color: rgb(255,255,255);
			color: rgb(21,178,179);
		}

		.flex-row-header{
			overflow-x: auto;
			border: 3px solid rgb(21, 178, 179);
			border-radius: 15px;
			background-color: rgb(255, 255, 255);
			color: rgb(21, 178, 179);
		}

		.btn-outline-primary{
			border-color:rgb(21, 178, 179);
			color: rgb(21, 178, 179);
			background-color: rgb(255, 255, 255);
		}

		.mychkbutton {
			width: 100%;
			height: 100%;
			border: 3px solid rgb(21, 178, 179);
			background-color: rgb(21, 178, 179);
			color: rgb(255,255,255);
		}
		</style>


		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!--		<link rel="stylesheet" type="text/css" href="css/mainn.css">-->
		<script type="text/javascript" th:inline="javascript">
			var myMSG = [[${rooms}]];
			var myID = [[${user_id}]];
		</script>
		<script type="text/javascript" th:inline="javascript" src="js/mainn.js"></script>
	</head>
	<body>
		<!-- Responsive navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-lg-5">
				<image class="nav-brand" src="https://s-um.github.io/bobs_test/42bobs_logo.png" style="margin: auto 30px;height:100%;display:table-cell;vertical-align:middle;"/>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><span class="nav-link active"><script>document.write(myID);</script></span></li>
								<li class="nav-item"><a class="nav-link" href="http://localhost:8080/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content-->
		<section class="pt-4">
			<div class="container px-lg-5">
				<!-- Page Features-->
				<h3>최근 성사된 예약</h3>
				<div class="row gx-lg-5 flex-row flex-nowrap" id="succeed" style="margin-top: 5vh; margin-bottom: 2vh;">
				</div>
				<h3>모집 중인 예약</h3>
				<div class="row gx-lg-5 flex-row flex-nowrap" id="active" style="margin-top: 5vh; margin-bottom: 2vh;">
					<script>
						calljson();
					</script>
				</div>
			</div>
		</section>

		<!-- Header-->
		<header class="py-5 ">
			<div class="container px-lg-5">
				<div class="p-4 p-lg-5 flex-row-header bg-light rounded-3 text-center">
					<div class="m-4 m-lg-5">
						<!-- Time Picker -->
						<h3 style="margin-bottom: 3vh;">새 예약 잡기</h3>
						<div class="mob input-group mb-3">
							<label class="text-grey mr-1 m-2" >예약 시간</label>
							<input class="ml-1 form-control" type="time" name="meetTime" aria-label="name" aria-describedby="basic-addon2">
						</div>
							<!-- Menu Picker -->
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="menu" value="0" id="btnradio0" autocomplete="off" checked>
								<label class="btn btn-lg btn-outline-primary" for="btnradio0">아무거나</label>
							</div>
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="menu" value="1" id="btnradio1" autocomplete="off" checked>
								<label class="btn btn-lg btn-outline-primary" for="btnradio1">한식</label>
							</div>
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="menu" value="2" id="btnradio2" autocomplete="off">
								<label class="btn btn-lg btn-outline-primary" for="btnradio2">중식</label>
							</div>
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="menu" value="3" id="btnradio3" autocomplete="off">
								<label class="btn btn-lg btn-outline-primary" for="btnradio3">양식</label>
							</div>
							<br>
							<br>
							<!-- Place Picker -->
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="location" value="1" id="btnplace1" autocomplete="off" checked>
								<label class="btn btn-lg btn-outline-primary" for="btnplace1">서초</label>
							</div>
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="location" value="2" id="btnplace2" autocomplete="off">
								<label class="btn btn-lg btn-outline-primary" for="btnplace2">개포</label>
							</div>
							<br>
							<br>
							<div class="d-grid gap-2">
								<button class="btn btn-primary mychkbutton" type="button" onclick="getFormData();">생성하기</button>
							</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Footer-->
		<footer class="py-5 bg-dark">
			<div class="container"><p class="m-0 text-center text-white">Copyright &copy; 42Bob's 2021</p></div>
		</footer>
		<!-- Bootstrap core JS-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Core theme JS-->
		<script src="_assets/js/scripts.js"></script>
	</body>
</html>

